/**div {
    margin-bottom: 15px;
    padding: 4px 12px;
  }
  .danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
  }
  .success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
  }
  .info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
  }
  .warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
  } **/

  .label {
    color: white;
    padding: 8px;
    font-family: Arial;
  }
  .success {background-color: #4CAF50;} /* Green */
  .info {background-color: #2196F3;} /* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */ 
  .other {background-color: #e7e7e7; color: black;} /* Gray */ 

  .badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  .badge-error {
    background-color: #b94a48;
  }
  .badge-error:hover {
    background-color: #953b39;
  }
  .badge-warning {
    background-color: #f89406;
  }
  .badge-warning:hover {
    background-color: #c67605;
  }
  .badge-success {
    background-color: #468847;
  }
  .badge-success:hover {
    background-color: #356635;
  }
  .badge-info {
    background-color: #3a87ad;
  }
  .badge-info:hover {
    background-color: #2d6987;
  }
  .badge-inverse {
    background-color: #333333;
  }
  .badge-inverse:hover {
    background-color: #1a1a1a;
  }